.toolbar {
  display: flex;
  position: fixed;
  background-color: #999999;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #000;
  align-items: center;
  z-index: 10;
  top: 10px;
  left: 10px;
}

.toolbar__button {
  width: fit-content;
  height: 30px;
  background-color: #3934ea;
  color: #fff;
  border: 1px solid #3934ea;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.toolbar__button:hover {
  opacity: 0.6;
}
